@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');

@keyframes pulse {
    from {opacity: 1;}
    50% {opacity: 0.8;}
    to {opacity: 1;}
}

@media print {
    .noprint { display: none; }
}

*, html {padding:0; margin:0;}

body {
    max-width: 1000px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    --accent: #123456;
}

h1 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0.3em;
    color: --accent;
    display: inline-block;
}


article:target>h2 {
    animation: 0.3s 3 pulse;
}

h1 {
    font-size: 2em;
    margin-top: 0.2em;
}

h2 {
    margin-top: 0.1em;
    text-decoration: underline;
}

a {
    font-family: 'Roboto Slab', sans-serif;
    color: var(--accent);
    padding: 0px 1px;
    position: relative;
    text-decoration: none;
    transition: color linear 0.1s;
}

a::before {
    position: absolute;
    display: block;
    content: " ";
    bottom: 0;
    left: 1px;
    right: 1px;
    height: 2px;
    z-index: -1;
    transition: height ease-in-out 0.1s;
    background-color: var(--accent);
}

a:hover {
    color: white;
}

a:hover::before {
    left: 0;
    right: 0;
    height: 100%;
}

section, .intro {
    border-bottom: 1px solid var(--accent);
    padding-bottom: 5px
}

article {
    margin-bottom: 5px;
}

.illustration {
    max-width: 100%;
    width:100%;
    height: 450px;
    object-fit: cover;
    border-radius: 2px;
}

.skills {
    display: flex;
}

.skills span {
    background-color:  var(--accent);
    color: white;
    padding: 5px;
    margin-right: 3px;
    border-radius: 2px;
}
